# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# CocoaPods related
# 不要忽略 Podfile，这个文件需要被版本控制，因为它定义了项目的依赖。
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/Podfile.lock
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
Pods/

# Flutter iOS build directories
ios/build/
**/ios/build/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
password.txt
report.md
